# Emacs backup files
*~
*#
.#*

# Vim file artifacts
.*.sw*

# installed platform-specific binaries
bin/*
.DS_Store
.project
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# temp files
temp/*
